html{
    scroll-behavior: smooth;
}

body{
    background-image: url('../assets/img/Background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
}

.content{
    width: 90vw;
    margin: 0 auto;
}

/*Header*/

header{
    background-image: url('../assets/img/Background_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.back_blur{
    backdrop-filter: blur(10px);
    height: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.logo{
    max-width: 60px;
}

ul.navbar{
    display: flex;
    justify-content: center;
    gap: 60px;
}

ul.navbar li a{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}

ul.navbar li a:hover{
    color: #e9c46a;
    font-size: 20px;
    transition: 0.5s;
}
.nav{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}

.icon-menu{
    width: 40px;
    display: none;
}

ul li a.inicio{
    color: #25139e;
}

.info-header{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 100px;
}

header h1{
    color: #e9c46a;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace sans-serif;
    font-weight: 700;
}

header h2{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace sans-serif;
    font-weight: 700;
}

header p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace sans-serif;
}

/* Fim do Header*/

/* Estilo Geral */

/* Títulos principais */
.about__project p{
    text-align: justify;
    padding: 0 40px;
}

.content_2{
    background-color: rgba(255, 255, 255, 0.805); 
    border-radius: 8px;
}

h3 {
    font-size: 28px;
    color: #007bff;
    text-align: center;
    margin-bottom: 15px;
}

/* Parágrafos */
p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

/* Links e botões */
a {
    color: #007bff;
    text-decoration: none;
}

button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.login{
    background-color: #e9c46a;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

/* Imagens */
figure {
    text-align: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Seção de Serviços */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__icon,.services1,.services2,.services3 {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.services__icon img {
    width: 100px;
    height: auto;
}

/* Seção de Clientes */
.our__clients p{
    text-align: justify;
    padding: 0 40px;
}

.client__img {
    display: flex;
    justify-content: space-around;
}

.client__img figure {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.client__img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/*Inicio do Footer*/

.contact {
    background-color: rgba(255, 255, 255, 0.805); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.contact h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.contact figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.contact p {
    margin: 5px 0;
    color: #555;
    text-align: center;
}

/*Fim do Footer*/