/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-image: url(../assets/img/cidade_montanhosa.jpeg);
    background-size: cover;
    backdrop-filter: blur(5px);
}

.client_table_title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.client_table_title h4{
    font-size: 20px;
    border: 1px solid black;
    padding: 0px 128px;
}

.client p{
    border: 0.5px solid black;
    padding: 5px;
    text-align: center;
}

.last_pay p{
    border: 0.5px solid black;
    padding: 5px;
    text-align: center;
}

.next_pay p{
    border: 0.5px solid black;
    padding: 5px;
    text-align: center;
}

.dashboard_title{
    background-color: rgb(232, 232, 232);
    padding: 10px;
    border-radius: 10px;
}

.dashboard_background {
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    padding-bottom: 20px;
}

.dashboard_background h3 {
    color: rgb(50, 50, 50);
    font-size: 25px;
    font-weight: 700;
}
.dashboard_img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.dashboard_img img{
    max-width: 100%;
}

.dashboard_description{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

/*-----------------------------------------------------------*/
.icon-header{
    display: none;
}

.dashboard_main{
    max-width: 90%;
}

.description1{
    margin-top: 10px;
    max-width: 25%;
    padding: 10px;
    border-radius: 5px;
    background-color: #5ecf2d;
    background-image: url(../assets/img/monitoring_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: 0px 0px 10px 0.5px rgb(150, 150, 150);
}

.description1 h3{
    color: rgb(255, 255, 255);
}

.description1 p{
    color: rgba(255, 255, 255, 0.821);
    max-width: 70%;
}

/*-----------------------------------------------------------*/

.description2{
    margin-top: 10px;
    max-width: 25%;
    padding: 10px;
    border-radius: 5px;
    background-color: #c54b23;
    background-image: url(../assets/img/alert_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: 0px 0px 10px 0.5px rgb(150, 150, 150);
}

.description2 h3{
    color: rgb(255, 255, 255);
}

.description2 p{
    color: rgba(255, 255, 255, 0.821);
    max-width: 70%;
}

/*-----------------------------------------------------------*/

.description3{
    margin-top: 10px;
    max-width: 25%;
    padding: 10px;
    border-radius: 5px;
    background-color: #420cc9;
    background-image: url(../assets/img/location_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: 0px 0px 10px 0.5px rgb(150, 150, 150);
}

.description3 h3{
    color: rgb(255, 255, 255);
}

.description3 p{
    color: rgba(255, 255, 255, 0.821);
    max-width: 70%;
}

/*-----------------------------------------------------------*/

.more{
    margin-top: 10px;
    font-size: 15px;
}

.more a{
    color: white;
}

.sections {
    background-color: white;
    border-radius: 5px;
}

.general_statistics .dashboard_title{
    margin: 0px 10px;
}

.general_statistics h3{
    color: black;
    font-weight: 600;
    margin-left: 10px;
}

.general_statistics p{
    color: black;
    margin-left: 10px;
}

.main_statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main_statistics1{
    margin-top: 25px;
    width: 90%;
}

.main_statistics1 h4{
    font-size: 20px;
    text-align: center;
}

.main_statistics1 img{
    max-width: 100%;
}

.main_statistics2{
    margin-top: 25px;
}

.main_statistics2 h4{
    font-size: 20px;
    text-align: center;
}

.main_statistics2 img{
    max-width: 100%;
}

.sidebar {
    width: 250px;
    background: rgb(2,0,39);
    background: linear-gradient(90deg, rgba(2, 0, 39, 0.87) 0%, rgba(58, 47, 180, 0.81) 100%);
    background-attachment: fixed;
    color: white;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebar-brand {
    padding: 20px;
    text-align: center;
}

.sidebar-brand h2 {
    font-family: 'Courier New', Courier, monospace sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    
}

.sidebar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.255);
    transition: 0.3s;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
}

header h2 {
    font-family: 'Courier New', Courier, monospace sans-serif;
    color: rgb(50, 50, 50);
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main section {
    padding: 20px 0;
}

main h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #007bff;
}

main p {
    margin: 0;
    color: #555;
}
